extends disk_layout
block block_template
    div(class='content')
        p Name:
            span #{item.name}
        p Type:
            span #{item.type}
        if item.fstype
            p File system type:
                span(class='upper') #{item.fstype}
        if item.size
            p Size:
                span #{item.size}
        p Physical type:
            span #{item.physical}
        if item.uuid
            p UUID:
                span #{item.uuid}
    if item.physical == 'CD/DVD'
        img(src='../img/articles/disks/disk.svg' alt='Disk' style='width: 15%')
    else
        img(src='../img/articles/disks/hd.svg' alt='HD' style='width: 15%')