extends disk_layout
block block_template
    div(class='content')
        p Name:
            span #{disk.name}
        p Type:
            span #{disk.type}
        if disk.fstype
            p File system type:
                span(class='upper') #{disk.fstype}
        if disk.size
            p Size:
                span #{disk.size}
        p Physical type:
            span #{disk.physical}
        if disk.uuid
            p UUID:
                span #{disk.uuid}
    if disk.physical == 'CD/DVD'
        img(src='../img/articles/disks/disk.svg' alt='Disk' style='width: 15%')
    else
        img(src='../img/articles/disks/hd.svg' alt='HD' style='width: 15%')