extends net_interface
block detail_data
    p Avg speed:
        span(id='avg') #{data.avg}
    p Min speed :
        span(id='min') #{data.min}
    p Max speed:
        span(id='max') #{data.max}
    p Load:
        span(id='loadPerc') #{data.loadPerc}
    if data.cores
        p(class='necessary_text' style='margin: 5% 0') CPU's cores speed:
        each val,index in data.cores
            p #{val.model}:
                span(class='cores') #{val.speed}

block article_img
    img(src='../img/articles/cpu/speed-pc.svg' alt='speed')

block script
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io('/cpu_speed');
        socket.on('reload', stats => {
            const statsArr = Object.entries(stats);
            for (let index = 0, length = statsArr.length; index < length; index++) {
                if (statsArr[index][1] instanceof Array) {
                    const elem = document.getElementsByClassName(statsArr[index][0]);
                    for (let j = 0, classLength = elem.length; j < classLength; j++) {
                        elem[j] = statsArr[index][1][j];
                    }
                } else {
                    const elem = document.getElementById(statsArr[index][0]);
                    if (elem) elem.textContent = statsArr[index][1];
                }
            }
        });