extends templates/head_for_deep_file_location

block title
    title #{title}

block content
    include templates/header_for_deep_file_location
    section(class='disk_article article_container')
        each item in data
            div(class='detail_info')
                block block_template
                    div(class='content')
                        p Type:
                            span #{item.type}
                        p Name:
                            span #{item.name}
                        p Serial number:
                            span #{item.serialNum}
                        p Interface type:
                            span #{item.interfaceType}
                        p Size:
                            span #{item.size} Gb
                        p Total cylinders:
                            span #{item.totalCylinders}
                        p Total heads:
                            span #{item.totalHeads}
                        p Total tracks:
                            span #{item.totalTracks}
                        p Total sectors:
                            span #{item.totalSectors}
                        p Tracks per cylinder:
                            span #{item.tracksPerCylinder}
                        p Sectors per track:
                            span #{item.sectorsPerTrack}
                        p Bytes per sector:
                            span #{item.bytesPerSector}
                        p Firmware revision:
                            span #{item.firmwareRevision}
                        if item.smartStatus
                            p(class='necessary_text') Has S.M.A.R.T technology
                    img(src='../img/articles/disks/files_and_folder.svg' alt='Disk')
    block script