extends templates/head

block title
    title #{title}

block content
    block header
        include templates/header
    section
        h3 Articles
        div(class='articles')
            each block in blocks
                block data_temp
                    div(class='article' id=block.id)
                        img(src=block.img alt=block.id)
                        h5 #{block.title}
                        p #{block.description}
    script(src='js/script.js' type='module')