extends net_interface
block detail_data
    p Received megabytes overall:
        span(id='rx_bytes') #{data.rx_bytes}
    p Received dropped overall:
        span(id='rx_dropped') #{data.rx_dropped}
    p Received errors overall:
        span(id='rx_errors') #{data.rx_errors}
    p Received megabytes / second:
        span(id='rx_sec') #{data.rx_sec}
    p Transferred megabytes overall:
        span(id='tx_bytes') #{data.tx_bytes}
    p Transferred dropped overall:
        span(id='tx_dropped') #{data.tx_dropped}
    p Transferred errors overall:
        span(id='tx_errors') #{data.tx_errors}
    p Transferred megabytes / second :
        span(id='tx_sec') #{data.rx_sec}

block article_img
    img(src='../img/articles/net/undraw_hacker_mind_6y85.svg' alt='statistic')

block script
    script(src="/socket.io/socket.io.js")
    script.
        const socket = io('/network_stats');
        socket.on('network_stats', stats => {
            const statsArr = Object.entries(stats);
            for (let index = 0, length = statsArr.length; index < length; index++){
                const elem = document.getElementById(statsArr[index][0]);
                if (elem) elem.textContent = statsArr[index][1];
            }
        });