extends head

block title
    title #{title}

block content
    include header
    section
        div(class='network_article')
            div(class='info')
                div(class='net_interface')
                    img(src='img/articles/net/undraw_server_down_s4lk.svg' alt='Net Interface')
                    div(class='content')
                        p Interface: #{data.iface}
                        p State: #{data.operstate}
                        p Interface name: #{data.ifaceName}
                        p IPv4 address: #{data.ipv4}
                        p IPv6 address: #{data.ipv6}
                        p MAC address: #{data.mac}
                        p Type of network connection: #{data.type}

                div(class='stats')
                    div(class='rx')
                        p Received megabytes overall:
                            span(id='rx_bytes') #{data.rx_bytes}
                        p Received dropped overall:
                            span(id='rx_dropped') #{data.rx_dropped}
                        p Received errors overall:
                            span(id='rx_errors') #{data.rx_errors}
                        p Received megabytes / second:
                            span(id='rx_sec') #{data.rx_sec}
                    img(src='img/articles/net/undraw_hacker_mind_6y85.svg' alt='statistic' id='stats')
                    div(class='tx')
                        p Transferred megabytes overall:
                            span(id='tx_bytes') #{data.tx_bytes}
                        p Transferred dropped overall:
                            span(id='tx_dropped') #{data.tx_dropped}
                        p Transferred errors overall:
                            span(id='tx_errors') #{data.tx_errors}
                        p Transferred megabytes / second :
                            span(id='tx_sec') #{data.rx_sec}

    script(src="/socket.io/socket.io.js")
    script.
      const socket = io('/network');
      socket.on('network_stats', stats => {
        for (let prop in stats){
            const elem = document.getElementById(prop);
            if (elem) elem.textContent = stats[prop];
        }
      });